@import "./newsStyles";

.news-container {
    width: 100%;
    height: 100vh;

    & .news {
        width: 100%;
        @include newsStyles();

        & .news-wrapper {
            width: 100%;
            height: 100%;
            overflow: auto;
            @include newsWrapperStyles();

            & .news-card {
                @include newsCardStyles();

                & .news-card-header {
                    @include newsCardHeaderStyles();

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                & .news-card-body {
                    & .news-card-title {
                        @include newsCardTitleStyles();
                    }

                    & .news-card-info {
                        @include newsCardInfoStyles();
                    }

                    & .news-card-description {
                        @include newsCardInfoStyles();
                    }
                }

                & .news-card-footer {
                    @include newsCardFooterStyles();
                }
            }
        }
    }
}
