@import "../effect/flex/_flex.scss";
@import "../varibles/_varibles.scss";

@mixin accessory-block__Styles {
    @include flex(space-around, center);
    flex-direction: column;
}

@mixin accessory-gallery__Styles {
    @include flex(center, center);
    flex-direction: column;
}

@mixin accessory-pic__Styles {
    @include flex(center, center);
    width: 100%;
}

@mixin accessory-wrapper-2__Styles {
    height: 100%;
    @include flex(space-between, null);
    flex-direction: column;
    margin-left: 5rem;
}

@mixin accessory__img-Styles {
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    box-shadow: 1rem 1rem 5px rgba(0, 0, 0, 0.132);

    & img {
        transition: all 0.5s;
        transform: scale(1.1);
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

@mixin accessory__cate-Styles {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    position: absolute;
}

@mixin accessory__text-Styles {
    @include flex(center, center);
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;

    & a {
        color: #fff;
    }

    & .accessory__text--title {
        margin-bottom: 1rem;
        
        & a {
            font-size: 4rem;
            font-weight: bold;
        }
    }

    & .accessory__text--more a {
        margin-top: 5rem;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-decoration: underline;

        &:hover {
            color: $product-title-color-hover;
        }
    }
}
