@import "./accessoryStyles";
@import "../effect/flex/_flex.scss";

.accessory-block {
    @include accessory-block__Styles();
    width: 100%;
    height: 100vh;

    & .accessory-gallery {
        @include accessory-gallery__Styles();
        width: 100%;
        height: 100%;

        & .accessory-pic {
            width: 100%;
            @include accessory-pic__Styles();

            & .accessory-wrapper-2 {
                @include accessory-wrapper-2__Styles();
            }

            & .accessory__img {
                @include accessory__img-Styles();

                & img {
                    width: 100%;
                    height: 100%;
                }
            }

            & .accessory__cate {
                @include accessory__cate-Styles();

                & .accessory__text {
                    @include accessory__text-Styles();
                }
            }
        }
    }
}

