@import "./sneakerStyles";

.sneaker-block {
    @include sneakerBlockStyles();

    & .shoes-news {
        @include shoesNewsStyles();
    }

    & .shoes-type-list {
        @include shoesTypeListStyles();
        @include shoesTypesListItemsStyles();
        
        height: 6rem;

        & .list {
            height: 100%;
            margin: 0 1rem;

            & .list-item {
                & a {
                    height: 3.5rem;
                    width: 15rem;
                }
            }
        }
    }
}
