@mixin bannerFormStylesRes {
    position: absolute;
    right: 0;

    img {
        display: none;
    }

    & a {
        font-size: 1.3rem;
        top: 4%;
        right: -38%;
        position: absolute;
        margin-right: 1.3rem;
    }
}

@mixin socialMediaStylesRes {
    & i {
        font-size: 2rem;
    }
}

@mixin formStylesRes {
    padding: 0;

    & input {
        font-size: 1rem !important;
    }

    & .login-title,
    & .register-title {
        font-size: 1.2rem;
    }

    & .login-des,
    & .register-des {
        font-size: 1rem;
    }

    & .register-input__block,
    & .login-input__block {
        & button {
            font-size: 1.2rem;
        }
    }
}
