@mixin centerLine {
    &::after {
        content: "";
        width: 100%;
        height: 1.5px;
        top: 50%;
        left: 0;
        background-color: red;
        position: absolute;
    }
}
