@import "../effect/_effect.scss";

@mixin banner-product__Styles {
    margin: 5rem;
    @include flex(center, center);

    & a {
        & img {
            display: block;
            object-fit: cover;
        }
    }
}
