@import "./feedbackStyles-respon";

.feedback {
    height: 48rem;
    @include feedbackStylesRes();

    & .feedback-header {
        & .shoes-news-feedback {
            margin-top: 0;
        }
    }

    & .feedback-body {
        @include feedbackBodyStylesRes();

        & .feedback-img-item {
            @include feedbackImgItemStyles();

            & img {
                width: 15rem;
                height: 15rem;
            }
        }
    }
}
