@import "../../effect/flex/_flex.scss";
@import "../../effect/underline effects/_underLineEffect.scss";

@mixin navbarMenuStylesRes {
    top: 2rem;
    left: 2rem;
    display: block;
    position: absolute;
}

@mixin navbarLeftMenuStylesRes {
    max-width: 25rem;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    padding: 0 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.437);
    z-index: 999;

    & a {
        @include flex(center, center);
        height: 8rem;
    }

    & .exit-icon {
        @include flex(center, center);
        width: 3rem;
        height: 3rem;
        top: 1.2rem;
        right: 0.5rem;
        color: red;
        border: 2px solid rgba(0, 0, 0, 0.43);
        border-radius: 50%;
        z-index: 999;
        position: absolute;
    }
}

@mixin navbarItemStylesRes {
    @include flex(space-between, center);
    @include underLineEffect(transparent);
    flex-direction: row;

    &:not(:first-child) {
        margin-left: 0;
        border-top: 1px solid #ccc;
    }

    &:nth-child(2) {
        margin-top: 5rem;
    }

    &:last-child {
        & .fire-icon {
            display: flex;
            margin-left: 1rem;
        }
    }
}

@mixin navbarItemPropsStylesRes {
    top: 5rem;
    left: 0rem;
    width: 100%;
    height: 8rem;
    border-radius: unset;
    position: absolute;
    box-shadow: 0 0 0;
}

@mixin navbarRightMenuStylesRes {
    & .navbar-item:nth-child(2),
    & .navbar-search {
        display: none;
    }

    & .navbar-item:first-child {
        display: inline-block;
        text-align: center;
        font-size: 1.5rem;
        width: 10rem;
    }

    @include flex(space-around, null);
}
