@import "../../effect/flex/_flex.scss";

@mixin cardStyles {
    padding: 1rem;
    border-radius: 2rem;
    background-color: #fce043;
    background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.467);
}

@mixin card-header_Styles {
    @include flex(space-between, null);
}

@mixin shoes-card__percent-Styles {
    @include flex(center, center);
    cursor: default;
    border-radius: 2rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 0, 0.527);
    z-index: 9;
}

@mixin card_icon-Styles {
    display: block;
    font-size: 2rem;
    color: #fff;
    cursor: default;
}

@mixin hotdeal-item__img-Styles {
    display: block;
    margin: -4rem 4rem;
    display: block;

    & img {
        object-fit: cover;
        transition: all 0.5s ease;
        transform: rotate(-20deg, -4rem);
    }
}

@mixin hotdeal-item__text-Styles {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@mixin hotdeal-item__footer-Styles {
    color: #000;
    font-size: 2rem;
    font-weight: 900;
    margin: 10.5rem 1rem;
}

@mixin hotdeal-item__cost-Styles {
    @include flex(space-between, null);

    & .hotdeal-item__sale--cost,
    & .hotdeal-item__primary--cost {
        & .currency {
            font-size: 1rem;
            font-weight: lighter;
            color: #000;
        }
    }

    & .hotdeal-item__sale--cost {
        color: #a89ea2;
        position: relative;
        @include centerLine(red);
    }
}
