@import "./sneakerStyles";

@import "./sneakerStyles";

.sneaker-block {
    & .shoes-type-list {
        & .list {
            & .list-item:first-child {
                margin-left: 74rem;
            }

            & a {
                width: 10rem !important;
                height: 2.8rem !important;
                font-size: 1.2rem;
            }
        }
    }
}
