.footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
    margin-top: 0;

    & .circles {
        display: none;
    }

    & .footer-info {
        & .footer-contain {
            & .footer-title {
                & .logo-title {
                    font-size: 4rem;
                }
            }
        }
    }
}
