@import "../effect/_effect.scss";
@import "../varibles/_varibles.scss";

@mixin footerStyles {
    display: grid;
    grid-template-columns: repeat(2, minmax(40rem, 1fr));
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    color: #fff;
    margin-top: 5rem;
}

@mixin ciclesStyles {
    @include flex(center, center);
    position: relative;
}

@mixin purpleCircleStyles {
    top: 10rem;
    left: 12rem;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(128, 83, 172, 0.178);
    background-image: linear-gradient(
        315deg,
        rgba(128, 83, 172, 0.503) 0%,
        rgba(100, 125, 238, 0.258) 74%
    );
}

@mixin pinkCircleStyles {
    @include flex(center, center);
    border-radius: 50%;
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);

    & .circle-text {
        & .circle-title {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        & .get-in-touch {
            font-size: 1.5rem;
            text-decoration: underline;
            color: #ccc;

            &:hover {
                color: $product-title-color-hover;
            }
        }
    }
}

@mixin greenCicleStyles {
    bottom: 4rem;
    right: 3rem;
    border-radius: 50%;
    background-color: rgba(31, 209, 249, 0.332);
    background-image: linear-gradient(
        315deg,
        rgba(31, 209, 249, 0.652) 10%,
        rgba(180, 33, 254, 0.475) 74%
    );

    position: absolute;
}

@mixin footerContainStyles {
    @include flex(center, null);
    flex-direction: column;
}

@mixin footerTitleStyles {
    @include flex(center, center);

    & .logo {
        img {
            object-fit: cover;
            border: 1px solid;
            border-radius: 1.5rem;
        }
    }

    & .logo-title {
        font-size: 5rem;
        margin-left: 2rem;
        font-weight: bold;
    }
}

@mixin footerDescStyles {
    @include flex(center, center);
    flex-direction: column;
    font-size: 1.8rem;
    margin-top: 1rem;
}

@mixin footerCooperateStyles {
    font-size: 2.3rem;

    a {
        @include flex(center, center);
        color: #000;
        padding: 1.2rem;
        margin-bottom: 2rem;

        &:hover {
            background-color: $contact-logo-color;
            border-radius: 2rem;
            color: #fff;
        }
    }
}

@mixin socialLinksStyles {
    margin-top: 5rem;
    font-size: 5rem;
    @include flex(space-around, center);
}

@mixin socialLinksItemStyles {
    color: #fff;

    .fa-facebook {
        &:hover {
            color: blue;
        }
    }

    .fa-instagram {
        &:hover {
            color: #b80194;
        }
    }

    .fa-pinterest {
        &:hover {
            color: red;
        }
    }
}

@mixin copyrightStyles {
    @include flex(center, center);
    margin-top: 4rem;
    margin-left: 2rem;
    font-size: 1.4rem;
    color: #000;
}
