@import "../base/card/_card.scss";

.container {
    & .hotdeal-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        margin-top: 5rem;
        grid-gap: 4rem;
        justify-items: center;
        padding: 0 3rem;
        overflow: hidden;

        & .card {
            @include card();
            &:hover {
                cursor: pointer;

                & .hotdeal-item__img {
                    & img {
                        transform: rotate(-20deg) translateY(-4rem);
                        transition: all 0.5s ease;
                        z-index: 999;
                    }
                }
            }
        }
    }
}
