@mixin dot($color) {
    &::before {
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        background-color: $color;
        position: absolute;
        transition: all 0.2s ease;
    }

    &::after {
        content: "";
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        background-color: $color;
        position: absolute;
        transition: all 0.2s ease;
    }

    &:hover {
        color: $product-title-color-hover;

        &:hover::before,
        &:hover::after {
            background-color: $product-title-color-hover;
            height: 1rem;
        }

        &:hover::before {
            content: "";
            left: 1.3rem;
            position: absolute;
        }

        &:hover::after {
            content: "";
            right: 1.3rem;
            position: absolute;
        }
    }
}
