@import "../effect/_effect.scss";

.header-banner {
    & .picture-wrapper {
        display: flex;

        & .shoes-picture__cover img {
            width: 114rem;
            height: 50rem;
            object-fit: cover;
        }

        & .sidebar-picture img {
            width: 100%;
            object-fit: cover;
        }
    }

    & .hotdeal-banner {
        @include flex(center, center);
    }
}
