@import "../effect/_effect.scss";

@mixin card {
    border-radius: 2rem;
    background-color: #fce043;
    background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.467);
    width: 30rem;
    height: 38rem;
    padding: 1rem;

    & .card-header {
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    & .shoes-card__percent {
        @include flex(center, center);
        cursor: default;
        border-radius: 2rem;
        width: 8rem;
        height: 2.5rem;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        background-color: rgba(255, 255, 0, 0.527);
        z-index: 9;
    }

    & i {
        display: block;
        font-size: 2rem;
        color: #fff;
        cursor: default;
    }

    & .hotdeal-item__img {
        width: 20rem;
        display: block;
        margin: -4rem 4rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s ease;
            transform: rotate(-20deg, -4rem);
        }
    }

    & .hotdeal-item__text {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 2rem 1rem;
    }

    & .hotdeal-item__footer {
        color: #000;
        font-size: 2rem;
        font-weight: 900;
        margin: 10.5rem 1rem;
        align-items: center;

        & .hotdeal-item__cost {
            display: flex;
            justify-content: space-between;

            & .hotdeal-item__sale--cost,
            & .hotdeal-item__primary--cost {
                & .currency {
                    font-size: 1rem;
                    font-weight: lighter;
                    color: #000;
                }
            }

            & .hotdeal-item__sale--cost {
                color: #a89ea2;
                position: relative;
                @include centerLine();
            }
        }
    }
}
