@import "../effect/_effect.scss";
@import "../varibles/_varibles.scss";
@import "../animation/_fadeIn.scss";

@mixin navbarWrapperStyles {
    @include flex(space-between, center);
    font-size: 2.5rem;
    padding: 0 3rem;
    font-weight: bold;
    position: relative;
}

@mixin navbarListLeftStyles {
    @include flex(start, center);
}

@mixin navbarMenuStyles {
    & .navbar-menu {
        display: none;
    }
}

@mixin navbarLeftMenuStyles {
    @include flex(center, center);
}

@mixin navbarItemStyles {
    position: relative;

    @include underLineEffect(#000);

    &:not(:nth-child(2)) {
        margin-left: 5rem;
    }

    &:last-child i {
        color: red;
    }
}

@mixin navbarItemPropStyles {
    display: none;
    flex-direction: column;
    justify-content: center;
    top: 4.8rem;
    left: -1rem;
    font-size: 2rem;
    font-weight: 300;
    overflow: hidden;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 6px 8px 17px 0px rgba(0, 0, 0, 0.212);
    animation: fadeIn 0.5s ease;
    position: absolute;
    width: 15rem;
    max-height: 18rem;
}

@mixin navbarItemListStyles {
    &:hover {
        & .navbar-item__prop {
            display: flex;
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
    }
}

@mixin navbarItemDetailStyles {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 1.5rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:first-child::after {
        content: "";
        height: 1px;
        bottom: 0;
        left: 0.4rem;
        margin: 0 0.4rem;
        display: block;
        background-color: rgba(0, 0, 0, 0.095);
        position: absolute;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background-color: #ccc;
    }
}

@mixin navbarRightContactStyles {
    @include flex(end, center);

    & .navbar-item {
        position: relative;
        &:not(:last-child) {
            margin-right: 3rem;
        }

        @include underLineEffect(#000);
    }

    & .navbar-item__icon {
        @include flex(null, center);

        &:not(:last-child) {
            margin-right: 3rem;
        }

        & a {
            &:hover i {
                transform: scale(1.2);
                transition: all 0.3s ease;
                color: $icon-hover;
            }
        }
    }
}

@mixin navbarSearchStyles {
    @include flex(end, center);
    border: 1px solid;
    border-radius: 3rem;
    overflow: hidden;
    transition: 0.5s;

    & .search-bar {
        @include flex(center, center);
        position: relative;

        & input {
            font-size: 2.2rem;
            padding-left: 1.3rem;
            border: none;

            &,
            &::placeholder {
                color: transparent;
            }
        }

        &:hover input,
        &:hover input::placeholder {
            color: unset;
        }

        &:hover input::placeholder {
            opacity: 0.5;
        }

        & i {
            position: absolute;
            right: 1rem;
        }
    }
}
