@import "./navbar2Styles";

.navbar-wrapper {
    height: 7rem;
    @include navbarWrapperStyles();

    & .navbar-list__left {
        @include navbarListLeftStyles();
        @include navbarMenuStyles();

        & .modal {
            & .navbar-left__menu {
                @include navbarLeftMenuStyles();

                & .navbar-item {
                    @include navbarItemStyles();

                    & .navbar-item__prop {
                        @include navbarItemPropStyles();

                        & .navbar-item__detail {
                            width: 100%;
                            height: 4rem;
                            @include navbarItemDetailStyles();

                            &:first-child::after {
                                content: "";
                                width: 90%;
                                height: 1px;
                            }
                        }
                    }
                }

                & .navbar-item-list {
                    @include navbarItemListStyles();
                    &::after {
                        content: "";
                        width: 100%;
                        height: 3rem;
                    }
                }
            }
        }
    }

    & .navbar-list__right {
        display: none;
        & .navbar-right__contact {
            & .navbar-search {
                width: 4.5rem;
                height: 4.5rem;

                & .search-bar {
                    width: 100%;
                    height: 100%;

                    & input {
                        width: 100%;
                        height: 100%;
                    }
                }

                &:hover {
                    width: 30rem;
                }
            }
        }
    }
}
