@import "./navbar2Styles-respon";

.navbar-wrapper {
    & .navbar-list__left {
        width: 100%;
        height: 100vh;

        & .navbar-menu {
            @include navbarMenuStylesRes();
        }

        & .modal {
            & .navbar-left__menu {
                width: 70%;
                @include navbarLeftMenuStylesRes();

                & .navbar-item-list {
                    @include navbarItemStylesRes();
                }
            }
        }
    }

    & .navbar-list__right {
        & .navbar-right__contact {
            font-size: 2rem;
        }
    }
}
