@import "../flex/_flex.scss";
@import "../dot effects/_dotEffects.scss";

@mixin titleProp($color, $dotColor, $fontSize) {
    @include flex(center, null);
    text-transform: uppercase;
    font-weight: bold;
    font-size: $fontSize;
    margin-bottom: 1rem;
    color: $color;
    padding: 0 4rem;
    position: relative;
    cursor: pointer;
    @include dot($dotColor);
}
