@import "./navbar2Styles-respon";

.navbar-wrapper {
    @include navbarWrapperStylesRes();

    & .navbar-list__left {
        @include navbarListLeftStylesRes();

        & .navbar-menu {
            @include navbarMenuStylesRes();
        }

        & .modal {
            & .navbar-left__menu {
                @include navbarLeftMenuStylesRes();

                & .navbar-item {
                    @include leftNavbarItemStylesRes();
                }
            }
        }
    }

    & .navbar-list__right {
        @include navbarListRightStylesRes();

        & .navbar-right__contact {
            @include navbarRightContactStylesRes();

            & .navbar-item {
                @include rightNavbarItemStylesRes();
            }

            & .navbar-item__icon {
                @include rightNavbarItemIconStylesRes();
            }

            & .navbar-search {
                @include rightNavbarSearchStylesRes();
                width: 4rem;
                height: 4rem;

                & .search-bar {
                    @include rightSearchBarStylesRes();
                    width: 100%;
                    height: 100%;

                    & input {
                        width: 100%;
                        height: 100%;
                    }
                }

                &:hover {
                    width: 15rem;
                }
            }
        }
    }
}
