@import "../effect/_effect.scss";

.feedback {
    position: relative;
    padding: 1.5rem 0;
    margin-top: 5rem;

    & .feedback-header {
        & .shoes-news-feedback {
            @include flex(center, center);
            height: 12rem;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(84, 51, 83, 0.396);
                filter: blur(3px);
                z-index: -4;
                position: absolute;
            }

            & .shoes-news-contain {
                color: #fff;

                & .shoes-news-title {
                    @include titleProp(#fff, #fff);
                }
            }
        }
    }

    & .feedback-body {
        padding: 0 3.2rem;
        margin-top: 10rem;
        overflow: auto;
        @include flex(space-between, center);

        & .feedback-img-item {
            & img {
                border-radius: 3rem;
                margin: 0 2rem;
                border: 3px solid #fff;
            }
        }
    }

    &::after {
        content: "";
        top: 0;
        z-index: -9;
        background: linear-gradient(
                326deg,
                rgba(95, 10, 135, 0.21),
                rgba(164, 80, 139, 0.24)
            ),
            no-repeat
                url("https://static.nike.com/a/images/w_1920,c_limit/6ca98205-3a29-4635-b884-4f2f33e26ffe/nike-s-best-golf-shoes-for-traction-stability-and-comfort.jpg");
        position: absolute;
        background-size: cover;
    }
}
