@import "./hotdealCardStyles-respon";
@import "../card/cardRes";

.container {
    .hotdeal-card {
        &::-webkit-scrollbar {
            display: none;
        }

        overflow: auto;
        display: flex !important;
        padding: 3rem;
        margin: 0;

        & .card {
            @include cardRes();
            position: relative;
        }
    }
}
